{% extends 'parts/base.html' %}
{% load static %}
{% block page %}
<div class="box">
    <h2>Account</h2>
    <form method="POST">
        {% csrf_token %}
        <!-- <label>Username</label><input type="text" value="{{ user.username }}"><br />
        <label>Email</label><input type="text" value="{{ user.email }}"><br />
        <label>Firstname</label><input type="text" value="{{ user.first_name }}"><br />
	<label>Lastname</label><input type="text" value="{{ user.last_name }}"><br /> -->
	{{ form.as_p }}
	<input type="submit" value="Update">
    </form>
</div>
{% endblock %}
