{% extends 'parts/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'projects/css/projects.css' %}" />
{% endblock %}

{% block page %}
<div class=box>
<div class="box container">
    <div class="item">
        <a href="/tasks/{{ task.id }}"><img class="button" src="{% static 'img/bs.png' %}"/></a>
    </div>
    <div class="item">
        <h2 class="project-title">{{ task.name }}</h2>
        <p class="project-description">{{ task.text }}</p>
    </div>
    <div class="item">
        <a href="/tasks/{{ task.id }}/update"><img class="button" src="{% static 'img/setting.png' %}"/></a>
    </div>
</div>
{% endblock %}
