{% load static %}
<header>
    <div class="container">
        <div class="item logo">
            <img src="{% static 'img/bs.png' %}" class="mainlogo" />
            <a href="/" class="maintitle"><h1>MyBlackSmith</h1></a>
        </div>
        <!-- <div class="item title"><h1>MyBlackSmith</h1></div> -->
        <div class="item login-box">
            {% block content %}
                {% if user.is_authenticated %}
                    <a href="/accounts/"><button id="user_button" class="header_button">{{ user.username }}</button></a>
                    <a href="/accounts/logout"><button id="logout_button" class="header_button">Logout</button></a>
                {% else %}
                    <a href="/accounts/login"><button id="login_button" class="header_button">Login</button></a>
                    <a href="/accounts/signup"><button id="register_button" class="header_button">Register</button></a>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</header>